@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --cor-primaria: #222831; 
    --cor-segundaria: #00ADB5;
    --cor-terciaria:  #EEEEEE;
    --cor-hover: #393E46;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
    --fonte-terciaria: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.titulo-destaque{
    color:var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}
.apresentacao__conteudo__texto_Sobremim { 
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__link{
    font-family : var(--fonte-secundaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 40%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-segundaria)
    
}
.apresentacao__links__link:hover{
    background-color:var(--cor-hover);
}

.rodape { 
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;
    font-weight: 400px;
}

.ContainerHeader { 
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600px;
    font-family: var(--fonte-secundaria);
    padding: 2% 0% 0% 15%;
    text-decoration: none;

}
.headerMenuHome { 
    display: flex;
    gap: 80px;
    
}
.headerLink { 
    text-decoration: none;
    color: var(--cor-terciaria);
}

.photoperfil { 
    width: 30%;
    border-radius: 80px;
    
}
.photomain { 
    width: 50%;
    border-radius: 80px;
}

@media(max-width: 1250px) { 
    .ContainerHeader { 
        
        padding: 10%
    }

    .headerMenuHome { 
        justify-content: center;
    }

    .apresentacao { 
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo { 
        width: auto;
    }
    .photomain { 
        width: 80%;
    }
    .photoperfil { 
        width: 50%;
    }
}
 